 <!-- About Section -->
 <section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
       <p>
        Hello! I am undergraduate student at BITS Pilani. I am primarily interested in the area of corporate strategy with a focus on sustainability, and how it can be implemented to give a market edge to companies.
      </p>
      <p>

        The areas of Data Analysis, Strategy and Operation Management also appeal to me. I am experienced in Quant Finance and have worked at WorldQuant, LLC as a part-time Research Consultant.
      </p>
      <p>
        You can get in touch with me for a copy of my Curriculum Vitae at <a 
        href="mailto:rach.chauhan99@gmail.com"
        style="text-decoration: underline;" target="_blank">rach.chauhan99@gmail.com</a>.</p>   
      </div>
    </div>
  </div>
</section>
