 <!-- About Section -->
 <section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="primary">
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <img class="img-responsive" src="img/profile.jpg" width="200" height= "200" style= "margin: auto;
    border-radius: 50% !important; object-fit: cover; padding-bottom: 2%;">
</div>
<div class="col-md-8">
   <p>
    Hello! I am undergraduate student at BITS Pilani. I am primarily interested in the area of Sustainable and Renewable Energy, and how it can be implemented to reduce our dependence on conventional sources of energy. My current areas of research include the utilization of Wind Energy, Solar Energy, Green Buildings, and Futuristic Sources of Renewable Energy in the Indian context. I am also interested in studying the electronics involved in the working of these technologies.
</p>
<p>

    The areas of Digital Marketing, Organisational Behavior, Data Analysis, Strategy, Product & Operation Management, and Gamification also appeal to me. I am experienced in Quant Finance and currently work at WorldQuant, LLC as a part-time Research Consultant.
</p>
<p>
    You can get in touch with me for a copy of my Curriculum Vitae at <a 
    href="mailto:rach.chauhan99@gmail.com"
    style="text-decoration: underline;" target="_blank">rach.chauhan99@gmail.com</a>.</p>   
</div>
</div>
</div>
</section>
