 <!-- Contact Section -->
 <section id="contact" class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p><a style="padding-right:15px; color: #fff;" href="mailto:rach.chauhan99@gmail.com" target="_blank">
                    <i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
                    <a style="padding-left:15px; padding-right:15px; color: #fff;" href="//linkedin.com/in/rahulchauhan99" target="_blank">
                        <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                        <a style="padding-left:15px; color: #fff;" href="//github.com/chauhansrahul" target="_blank">
                            <i class="fa fa-github fa-3x" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                </div>
            </section>
