<!DOCTYPE html>
<html>
    {% include head.html %}   
    <body id="page-top" class="index">
        
    <!--div class="preloader"></div-->
        
    {% include nav.html %}
        
    <div class="hide1">
    {% include header.html %}        
        </div>
    <div class="hide2">
    {% include about.html %}
    {% include professional_experience.html %}
    {% include research_projects.html %}
    {% include contact.html %}        
    {% include footer.html %}
        </div>
    <!--/div-->
        
    <!--{% include modals.html %}-->
    {% include js.html %}
    </body>
</html>
